body{
    box-sizing:border-box;
    width:100vw;
}
@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }

h1 {
    font-family: 'SEGA LOGO FONT';
    letter-spacing: 0.7rem;
    font-weight: 200;
    color: #064662;
    padding: 0 15px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    h1{
        width:400px;
    }
}
